/*  Fonts  */
@font-face {
    font-family: 'raleway-regular';
    src: url('fonts/raleway-regular.eot');
    src: url('fonts/raleway-regular.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-regular.woff') format('woff'),
         url('fonts/raleway-regular.ttf') format('truetype'),
         url('fonts/raleway-regular.svg#raleway-regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-semibold';
    src: url('fonts/raleway-semibold.eot');
    src: url('fonts/raleway-semibold.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-semibold.woff') format('woff'),
         url('fonts/raleway-semibold.ttf') format('truetype'),
         url('fonts/raleway-semibold.svg#raleway-semibold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'raleway-bold';
    src: url('fonts/raleway-bold.eot');
    src: url('fonts/raleway-bold.eot?#iefix') format('embedded-opentype'),
         url('fonts/raleway-bold.woff') format('woff'),
         url('fonts/raleway-bold.ttf') format('truetype'),
         url('fonts/raleway-bold.svg#raleway-bold') format('svg');
    font-weight: normal;
    font-style: normal;
}
