@media screen and (min-width: 769px){

    .wrapper{
        width: 1100px;
        margin: 0 auto;
    }

    /*    container-header    */
    .container-header {
        width: 100%;
        height: 690px;
        position: relative;
    }
    .container-header {
        background: url('images-new/keyvisual.jpg') no-repeat;        
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }
    .container-doc{
        width: 100%;
        height: 200px;
        position: relative;
    }

    .container-doc {
        background: url('images-new/header-doc.png') no-repeat;   
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .container-header .caption{
        margin-top: 130px;
        text-align: center;
    }

    .container-header .caption {
        color: #ff7E00;
    }


    .container-header .caption h1{
        font-family: "raleway-bold";
        font-size: 60px;
        font-weight: bold; 
        margin-bottom: 30px;
    }

    .container-header .caption h1{
        color: #FFFFFF;
    }

    .container-header .caption p{
        font-family: "raleway-regular";
        font-size: 30px;
        margin-bottom: 30px;
    }

    .container-header .caption p{
        color: #fff;
    }

    .containe-headerr .caption hr{
        display: inline-block;
        height: 1px;
        width: 30px;
        border: 0!important;   
        margin: 0;
        padding: 0;
    }

    .container-header .caption hr{
        background: #fff;
    }


    /*    header    */
    header{
        width: 100%;
        height: 125px;
    }

    header .logo{
        float: left;
        margin-top: 50px;
    }

    header nav{
        float: right;
        margin-top: 57px;
    }


    header nav ul li{
        list-style: none;
        display: block;
        float: left;
        margin-left: 50px;
    }

    header nav ul li a{
        text-decoration: none;  
        font-family: "raleway-regular";
        font-size: 14px;

        transition:all .2s linear;
        -webkit-transition:all .2s linear;
        -moz-transition:all .2s linear;
        -o-transition:all .2s linear;
    }

    header nav ul li a{  
        color: #fff;
    }

    header nav ul li a:hover{
        color: #B9B9B9;
    }


    /*    about    */
    .about ul{
        margin-top: 100px;
    }

    .about ul li{
        list-style: none;
        display: block;
        width: 313px;
        float: left;
        margin-left: 80px;
        text-align: center;
    }

    .about ul li:first-child{
        margin-left: 0;
    }

    .about ul li .separator{
        display: block;
        width: 1px;
        height: 20px;
        background: #f6f6f6;
        margin: 20px auto;
    }

    .about ul li h2{
        color: #616161;
        font-family: "raleway-bold";
        font-size: 18px;
        font-weight: bold;
        margin: 0;
    }

    .about ul li p{
       color: #838181;
        font-family: "raleway-regular";
        font-size: 14px;
        line-height: 28px; 
        margin-top: 40px;
        letter-spacing: .5px;
    }

    /*    Video    */
    .video{
        display: block;
        width: 100%;
        height: 350px;
        text-align: center;
        margin-top: 100px;
        background: url('images-new/video.jpg') no-repeat;    
        background-size: cover;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
    }

    .video .video_logo{
        margin-top: 85px;
    }

    .video h3{
        color: #fff;
        font-family: "raleway-regular";
        font-size: 14px;
        font-weight: normal!important;
        margin: 20px 0 0 0;
    }

    .video #play_btn{
        display: inline-block;
        width: 71px;
        height: 71px;
        background: url('images-new/play_btn.png') no-repeat;
        margin-top: 40px;
    }

    .title{
        text-align: center;
        overflow: hidden;
    }

    .title h2{
        color: #616161;
        font-family: "raleway-bold";
        font-size: 30px;
        font-weight: bold;
        margin: 0 0 20px 0;
        text-transform: uppercase;
    }

    .title h3{
        color: #9b9b9b;
        font-family: "raleway-regular";
        font-size: 14px;
        margin: 0 0 20px 0;
        font-weight: normal!important;
    }

    .title hr.separator{
        display: block;
        width: 40px;
        height: 1px;
        background-color: #ebebeb;
        margin: 0 auto;
        padding: 0;
        border: 0!important;
    }

    .title p.description {
        text-align: left;
        overflow: hidden;
    	line-height: 30px;
        color: #9b9b9b;
        font-family: "raleway-bold";
        font-size: 16px;
        margin: 0 0 20px 0;
        text-transform: uppercase;
    }

    .title p.description a {
    	color:#141FE7;
    }

    /*    contents    */
    .contents{
        margin-top: 100px;
    }

    .contents ul{
        margin-top: 70px;
        list-style: none;
    }

    .contents ul li{
        display: block;
        float: left;
        margin-left: 80px;
        width: 313px;
    }

    .contents ul li:first-child{
        margin-left: 0;
    }

    .contents ul li .quotes{
        margin-right: 10px;
    }

    .contents ul li p{
        color: #838181;
        font-family: "raleway-regular";
        font-size: 16px;
        line-height: 28px;
        letter-spacing: .5px;
        padding-bottom: 30px;
        margin-bottom: 20px;
        border-bottom: 1px solid #ecebeb;
        position: relative;
    }

    .contents ul li .client{
        margin-left: 20px;
    }

    .contents ul li .client img.avatar{
        float: left;
        margin-right: 20px;
        -webkit-border-radius: 100px;
        -moz-border-radius: 100px;
        -o-border-radius: 100px;
        border-radius: 100px;
    }

    .contents ul li .client .client_details{
        float: left;
    }

    .contents ul li .client .client_details h4{
        color: #7b7979;
        font-family: "raleway-semibold";
        font-size: 14px;
        font-weight: bold;
        margin: 0 0 10px 0;
    }

    .contents ul li .client .client_details h5{
        color: #7b7979;
        font-family: "raleway-regular";
        font-size: 12px;
        margin: 0;
        font-weight: normal;
    }

    /*    information    */
    .information{
        margin-top: 0px;
    	margin-bottom: 100px;
        padding: 100px 0;
        background: #fafafa;
    }

    .information ul{
        list-style: none;
        margin-top: 70px;
    }

    .information ul li{
        display: block;
        width: 230px;
        margin-left: 60px;
        float: left;
    }

    .information ul li:first-child{
        margin-left: 0;
    }

    .information ul li .media .date{
        position: absolute;
        top: 0;
        left: 30px;
        width: 40px;
        padding: 10px 0;
        background: rgba(62, 62, 62, .7);
        text-align: center;
    }

    .information ul li .media .date span{
        display: block;
    1}

    .information ul li .media .date .day{
        color: #fff;
        font-family: "raleway-bold";
        font-size: 18px;
        font-weight: bold;

    }

    .information ul li .media .date .month{
        color: #fff;
        font-family: "raleway-regular";
        font-size: 12px;
    }

    .information ul li .media{
        width: 230px;
        height: 230px;
        position: relative;
    }

    .information ul li h1{
        color: #616161;
        font-family: "raleway-regular";
        font-size: 16px;
        font-weight: normal;
        line-height: 26px;
        margin: 20px 0 0 0;
    }


    /*    footer    */
    footer{
        padding: 35px 0;
        overflow: hidden;
    }

    footer .footer_logo{
        float: left;
    }

    footer .rights p{
        float: left;
        color: #838181;
        font-family: "raleway-regular";
        font-size: 13px;
        margin: 5px 0 0 10px; 
    }

    footer .rights p a{
        color: #777;
        font-family: "raleway-semibold";
        font-size: 13px;
        font-weight: bold;
        text-decoration: none;
    }

    footer nav ul{
        float: right;
        overflow: hidden;
        list-style: none;
        margin-top: 5px; 
    }

    footer nav ul li{
        float: left;
        margin-left: 25px;
    }

    footer nav ul li a{
        color: #838181;
        font-family: "raleway-regular";
        font-size: 13px;
        text-decoration: none;

        transition:all .2s linear;
        -webkit-transition:all .2s linear;
        -moz-transition:all .2s linear;
        -o-transition:all .2s linear;
    }

    footer nav ul li a:hover{
        color: #616161;
    }
}
